/* Write your code here. */

.list-con {
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 300px;
  height: 200px;
  border: 2px solid #ffffff30;
  background-color: #ffffff33;
  margin: 5px;

  border-radius: 10px;
}

.but-emoji-card {
  border: none;
  cursor: pointer;
}
